main > nav {
  margin: 1.5em 0;
}
section h2 {
  font-size: 1em;
  margin-top: 0;
}
section {
  border: thin solid #999;
  padding: 0.625em;
  margin: 1em 0;
}
section > :last-child {
  margin-bottom: 0;
}
section.author {
  border-width: medium;
  border-style: double;
}
@media (prefers-color-scheme: dark) {
  section {
    border-color: #666;
  }
}
